{% load static %} 
<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="stylesheet" href="../static/css/quizzCategories.css">

  {% comment %} <link rel="stylesheet" href="{% static 'css/quizzCategories.css' %}"> {% endcomment %}


  <!-- Tailwind CSS-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>
<body>

  <div class="h-[80px] bg-[#1B6B93] mx-auto p-[17px] wd-[1200px]">


    <div class="grid grid-cols-5 gap-4">
      <div class="w-[140px]">
      <a class="hover:no-underline" href="/"><h1 class="text-[30px] ml-[20px] text-[#ffffff] font-semibold"><i class="fa-sharp fa-solid fa-q fa-flip"
        style="color: #ffffff;"></i>uizzyy</h1></a>
      </div>
        <div class="w-[130px] mt-2 ml-[200px]">
        <a class="hover:no-underline text-[20px] text-[#ffffff] act hover:text-[#F4E0B9]" href="{% url 'home' %}">Home</a>
        </div>
        <div class="w-[130px] mt-2 ml-[100px]">
          <a class="hover:no-underline text-[20px] text-[#ffffff] actQ hover:text-[#F4E0B9] " href="{% url 'quizzCategories' %}">Quizzes</a>

        </div>

        <div class="w-[170px] mt-2">
          {% if request.user.is_staff %}
          <a class=" hover:no-underline text-[20px] text-[#ffffff] actA hover:text-[#F4E0B9] mr-[50px]" href="{% url 'addQuizz' %}">Add Quizz</a>
         {% endif %}
        </div>

        <div class="w-auto mt-[-6px]">
          {% if request.user.is_authenticated %}
          <div class="mt-3">
            <span class="text-[white]">Hello, {% if cookieData %} {{cookieData}} {% else %} {{request.user}} {% endif %}</span>
            <span class="text-[white]"> <a class="hover:text-[#F4E0B9] hover:no-underline" href="{% url 'logout' %}">(Logout)</a></span>
          </div>
          {% else %}
          <div class="mt-3 text-[white]">
            <a class="hover:no-underline hover:text-[#F4E0B9]" href="{% url 'login' %}">Login</a> /
            <a class="hover:no-underline hover:text-[#F4E0B9]" href="{% url 'register' %}">Register</a>
          </div>
          {% endif %}
        </div>

    </div>
</div>
