{% extends 'base.html' %}

{% block content %}



    <!-- BODYYYYYYYY -->


    <div class="h-[600px] bg-gradient-to-r from-[#3AA6B9] to-[#84A7A1] flex">

      <div class="basis-[95%]">

        <img src="../static/images/home.png" class="ml-[-280px]" alt="">

      </div>

      <div class="">

        <h1 class="text-sm-left  mt-[170px] mr-[120px] font-semibold font-italic text-[#ffffff]  text-[45px]">You don't have to be great to start, but you have to start to be great</h1>


        <br><br>
        <a class="ml-[280px] py-3 transition duration-150 ease-out md:ease-in hover:no-underline text-left   px-4 border-bottom-0 bg-sky-500 text-white font-semibold rounded-lg shadow-md hover:bg-cyan-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" href="">
          
          Lets Start</a>

      </div>
    </div>
    <style>
      .act{
        color: #9BE8D8;
      }
    </style>
    {% endblock %}