
{% extends 'baseForLogo.html' %}
{% block title %}Quizzyy-StartQuizz{% endblock %}
{% block content %}

    <div class="container     w-[773px] mt-sm-5 my-1">
        {% for cats in cats %} 
    <form class="container mt-sm-5 my-1" method="post" action="">
        {% csrf_token %}
        <div class="question ml-sm-5 pl-sm-5 pt-2">
            <div class="py-2 h5"><b>Q. {{cats.question}}</b></div>
            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                <label class="options">{{cats.optionA}}
                    <input type="radio" name="{{ cats.id }}" value="{{ cats.optionA }}">
                    <span class="checkmark"></span>
                </label>
                <label class="options">{{cats.optionB}}
                    <input type="radio" name="{{ cats.id }}" value="{{ cats.optionB }}">
                    <span class="checkmark"></span>
                </label>
                <label class="options">{{cats.optionC}}
                    <input type="radio" name="{{ cats.id }}" value="{{ cats.optionC }}">
                    <span class="checkmark"></span>
                </label>
                <label class="options">{{cats.optionD}}
                    <input type="radio" name="{{ cats.id }}" value="{{ cats.optionD }}">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        
    {% endfor %}
    <div class="d-flex align-items-center pt-3">
        <div class="ml-auto mr-sm-5">
            <a href="{% url 'quizzCategories' %}" class="ml-[-200px] mt-[10px] btn btn-success">Back</a>
        </div><div class="ml-auto mr-sm-5">
            <input type="submit" class="btn btn-success bg-[#07a657]" value="Submit">
        </div>
    </div>
    </form>


</div>
</body>
</html>

{% endblock %}